.NavtabPage{
display: flex;
flex-flow: row wrap;
}
.NavTabBar{
    display: block;
    min-width: 100%;
    align-content: start;
}
.NavTab{
    margin: -1px;
    padding: 0.1em 1em;
    background-color: rgb(153, 231, 231);
}
.activeTab{
    background-color: rgb(83, 119, 248);
}
.Tabs{
    min-width: 100%;
    min-height: 100%;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: flex-start;
}

.Tabs div{
    border: solid 1px black;
    transition: transform 5s ease-in, opacity 4s ease-in;
}
.HideTab{
    display: none;
    transform: scale(0,100%);
    opacity: 0;
}
.ShowTab{
    transform: scale(100%,100%);
    opacity: 1;
}
.ShowTab 

