.Lform{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: 2em 4em;
    padding: 1em;
    box-shadow:0px 0px 10px 2px rgb(38, 36, 46);
    border-radius: 1em;
    background-color: rgba(232, 11, 147, 0.224);
}
.Lform input{
    margin: 1em;
    padding: 0.4em;
    border: 5px solid white;
    box-shadow:0px 0px 5px 0px rgb(38, 36, 46);
    border-radius: 1em;
    background-color:white;
}

.btnA{
    border:none;
    background-color:rgba(20, 158, 212, 0.774);
    color:antiquewhite;
    box-shadow: 0px 0px 5px 2px rgba(59, 58, 58, 0.707);
    border-radius:1em;
    padding: 1em;
    font-size: 1em;
}
.btnA:hover{
box-shadow: inset 0px 0px 5px 1px rgba(255, 255, 255, 0.618),0px 0px 5px 2px rgba(100, 96, 96, 0.707);
color:antiquewhite;
background-color:rgba(13, 138, 222, 0.959);
}
.btnB{
    padding: 10px;
    border:none;
    border-radius: 5px;
    transition: background-color 0.2s ease,box-shadow 0.3s ease-in;
    position: absolute;
    top: 1em;
    right: 1em;;
    background: none;
    color: aliceblue;
    font-size: 25px;

}
.btnB:hover{
    background-color:rgba(157, 13, 13, 0.503);
    box-shadow: 0px 0px 5px 2px rgba(22, 21, 21, 0.707);
}



#adminpopup {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 37, 37, 0.651);
    backdrop-filter: blur(2px);
    border-radius:1em;
    box-shadow:inset 0px 0px 15px 2px rgba(89, 87, 87, 0.556), 0px 0px 15px 7px rgb(255 255 255 / 64%);
    z-index: 6;
    width: 80%;
    height: 80%;
    margin-top: 5%;
    transition: transform 0.3s ease-in,opacity 0.5s ease-in;
}
.nodisplay{
    transform: scale(0%);
    opacity: 0;
}
.visible{
    transform: scale(100%);
    opacity: 1;
}
.auth{
    padding: 2em;
    background-color:rgba(12, 158, 255, 1);
    
}
#notice{
    word-wrap: break-word;
}
